include ../head.pug
body
    .container.mt-5
      h1 List
      table.table.table-responsive.table-hover.table-striped.table-dark
        thead
          tr
            th(scope="col") Number
            th(scope="col") Plans
            th(scope="col") DateTime
            th(scope="col") Meeting
            th(scope="col") Time of meeting
            th(scope="col") Place of meeting
            th(scope="col") Actions
        tbody
script.
      document.addEventListener('DOMContentLoaded', function() {
        axios.get('/api/schedule')
          .then(function(response) {
            const schedules = response.data;
            const tableBody = document.querySelector('table tbody');
            schedules.forEach(t => {
              const row = document.createElement('tr');
              const schedule = t.schedule
              row.innerHTML = `
                <td>${t.id}</td>
                <td>${schedule.plans}</td>
                <td>${schedule.DateTime}</td>
                <td>${schedule.meeting}</td>
                <td>${schedule.timeofMeeting}</td>
                <td>${schedule.placeofMeeting}</td>
                <td>
                  <button class="btn btn-primary btn-sm">Edit</button>
                  <button class="btn btn-danger btn-sm" data-id="${t.id}">Delete</button>
                </td>
              `;
              tableBody.appendChild(row);
            });
          })
          .catch(function(error) {
            console.log(error);
          });

          // Use event delegation for delete buttons
          document.addEventListener('click', function(event) {
            if (event.target && event.target.classList.contains('btn-danger')) {
              const scheduleId = event.target.getAttribute('data-id');
              axios.delete(`/api/schedule/${scheduleId}`).then(function(response) {
                console.log('Delete successful', response);
                location.href = '/'
              })
              .catch(function(error) {
                console.log('Error deleting schedule', error);
              });
            }
          });
      });
